<!--
<div class="login">
    <form class="custom-form" method="post">
      <h1>Login</h1>
      <input
        type="email"
        [(ngModel)]="email"
        name="email"
        placeholder="Email"
        required="required"
      />
      <input
        type="password"
        [(ngModel)]="password"
        name="password"
        placeholder="Password"
        required="required"
      />
      <button type="submit" (click)="login()">Log in</button>
    </form>
  </div>
-->
<section class="vh-100" style="background-color: #F7D625;">
  
  <div class="container-fluid h-custom" >
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-5 col-xl-4" style="text-align: center;">
        <img src="https://raw.githubusercontent.com/nicole11robayo/DEV001-burger-queen-api-client/login/src/app/images/logoBurgerAmarillo.png"
          class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-7 col-xl-6 offset-xl-1">
        <p style="text-align: center; margin-bottom: 15px; font-weight: 800; font-size:70px; color: #FFFCFC;">BURGER QUEEN</p>
        <div class="card shadow-2-strong" style="border-radius: 1rem; background-color: #FFFCFC; margin-right: 40px; margin-left: 40px;">
          <form class="card-body p-5" [formGroup] = "loginForm" id="loginForm" (ngSubmit)="login()">

            <div class="form-outline mb-4">
              <label class="form-label" for="typeEmailX-2">Correo</label>
              <input type="email" formControlName="email" id="email" class="form-control form-control-lg" />
            </div>

            <div class="form-outline mb-4">
              <label class="form-label" for="typePasswordX-2">Contraseña</label>
              <input type="password"  #passwordEyeRegister formControlName="password" id="password" class="form-control form-control-lg" />
            </div>
            <button type="button" class="btn btn-primary btn-sm" (click)="togglePasswordMode(passwordEyeRegister)">Mostrar contraseña</button>
            <div class="col text-center">
              <button class="btn btn-success btn-lg btn-block" type="submit" >INGRESAR</button>
           </div>

          </form>
        </div>
      </div>
      </div>
    </div>
</section>



