<nav>
  <div class="nav-container">
    <div class="logo">
      <img
            src="https://i.postimg.cc/Xqmd3Vc8/logo-Burger-Amarillo-removebg-preview.png"
            height="60"
            alt=""
            loading="lazy"
          />
    </div>
    <div class="container">
      <div class="botones">
        <a href="#">HOME</a>
        <a href="#" (click)= "deleteToken()">salir</a>
      
        
      </div>
    </div>
   
  </div>
  
</nav>

<!--<nav class="navbar navbar-custom">
    <div class="container">

        <img
          src="https://raw.githubusercontent.com/nicole11robayo/DEV001-burger-queen-api-client/login/src/app/images/logoBurgerAmarillo.png"
          height="60"
          alt=""
          loading="lazy"
        />
        
        <button type="button" class="btn btn-danger" (click)= "deleteToken()">Cerrar sesión</button>

    </div>
  </nav>-->
