<div class="menu">
  
  <div class="buttonsMenu">
    <button type="button" class="btn btn-warning" (click)="showProductsDesayuno()">Desayuno</button>
    <button type="button" class="btn btn-info" (click)="showProductsComida()">Almuerzo</button>
  </div>
  <pagination-controls  (pageChange)="pageChangeEvent($event)"></pagination-controls>
 
  <div class="card-categorias">
    <div *ngFor="let item of products | paginate: { itemsPerPage: 3, currentPage: p, totalItems: total}">
      <div class="product-card">
        <div class="{{item.type}}">{{item.type}}</div>
        <div class="product-tumb">
          <img src="{{item.image}}" alt="{{item.name}}">
        </div>
        <div class="product-details">
          <span class="product-catagory">{{item.name}}</span>
          <div class="product-bottom-details">
            <div class="product-price">${{item.price}}</div>
              <div class="product-links">
                <button class="btn-card" id={{item.id}} (click)='onClickMe(item.id)'><i class='bx bxs-cart-add'></i></button>
              </div>
            </div>
          </div>
        </div>


        


      </div>
      
    </div>
   
    <!-- <div class="card" style="width: 10rem; height: 10rem;" *ngFor="let item of products">
    <img src={{item.image}} class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div> -->
    <!-- <div *ngFor="let item of products">
    <div class="card" style="width: 10rem;height: 10rem; margin: 10px;">
      <img src={{item.image}} class="card-img-top"
        alt="Hollywood Sign on The Hill" />
      <div class="card-body">
        <h5 class="card-title">{{item.name}}</h5>
        <p class="card-text">${{item.price}}</p>
        <button class="btn btn-primary" id={{item.id}} (click)='onClickMe(item.id)'>Añadir{{item.id}}  </button>
      </div>
    </div>

  </div> -->
    <!-- <div *ngFor="let item of products">
    <div class="card w-75">
      <div class="card-body">
        <h5 class="card-title">{{item.name}}</h5>
        <p class="card-text">${{item.price}}.</p>
        <button class="btn btn-primary" id={{item.id}} (click)='onClickMe(item.id)'>Añadir{{item.id}}  </button>
      </div>
    </div>
  </div> -->

  </div>