@import url("https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300,700");


.cocina{
  flex-wrap: wrap;
  overflow: scroll;
  width: 100%;
  height: 100%;
  
}
.cocina::-webkit-scrollbar{
  display: none;
  
}  
.todo{
    width: 100%;
   
    display: flex;
    flex-wrap: wrap;
    
    font-family: "Open Sans", Helvetica, sans-serif;
    text-align: center;
   
}

  



.card {
  display: inline-block;
  width: 300px;
  padding: 1em;
  border-radius: 15px;
  height: auto;
  background: #ddd;
  text-align: left;
  box-shadow: 0px 5px 20px -10px #111111;
  margin: 10px;
  
}

.card h1 {
    margin: 0;
    font-weight: 400;
}
.card h2 {
    margin: 0;
    font-weight: 400;
}
.card h3 {
    margin: 0;
    font-weight: 400;
}
.card h4 {
    margin: 0;
    font-weight: 400;
}

.card__caption{
  background-color: rgba(255, 252, 252, 0.65);
  padding: 1em;
  position: relative;
  border-radius: 0 0 3px 3px;
  z-index: 10px;
}

.card__type {
  position: absolute;
  top: 0;
  right: 1em;
  transform: translateY(-50%);
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Open Sans Condensed", "Open Sans", helvetica, sans-serif;
  letter-spacing: 0.1em;
  padding: 0.25em;
  line-height: 1;
  border-radius: 2px;
  background: #bbbbbb;
 font-size: 25px;
}

.card__label {
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 400;
  display: block;
  margin-bottom: 3px;
}

.card__name {
  font-family: "Open Sans Condensed", "Open Sans", helvetica, sans-serif;
  text-align: center;
  font-size: 1.5em;
  font-weight: 700;
  letter-spacing: 0.02em;
}
.card__stats {
  margin: 1em 0;
}

.card__stats th {
  font-family: "Open Sans Condensed", "Open Sans", helvetica, sans-serif;
  text-align: right;
  font-weight: 300;
}

.card__stats th,
td {
  width: 50%;
  padding: 0.25em 0.5em 0;
}

.card__abilities {
  display: flex;
  justify-content: space-between;
}

.card__ability {
  margin-top: 1em;
  flex: 1 0;
}

.card--pending {
    background: linear-gradient(90deg, rgba(255,222,0,1) 34%, rgba(253, 255, 182,1) 83%);
 
  
}

.card__type_pending {
    background-color: #000;
}
.card--delivering {
    background: linear-gradient(230deg, rgba(202,234,246,1) 0%, rgba(160,234,241,1) 46%, rgba(111,184,235,1) 100%);
   
  }
  
  .card__type_delivering {
    background-color:  #6fb8eb;;
  }
  .card--delivered {
    background: linear-gradient(140deg, rgba(196,218,61,1) 0%, rgba(110,127,14,1) 69%, rgba(39,80,9,1) 100%);
   
  }
  
  .card__type_delivered {
    background-color:  #80b918;
  }
  .card--canceled {
    background: linear-gradient(0deg, rgba(199,24,0,1) 10%, rgba(252,194,69,1) 100%);
   
  }
  
  .card__type_canceled {
    background-color: rgba(199,24,0,1);
  }

  .btn-eliminar-order{
    border: none;
    background: none;
    font-weight: 700;
    font-size: 35px;
    cursor: pointer;
    color:#d8061a
  }
  .btn-order-check{
    border: none;
    background: none;
    font-weight:700;
    font-size: 35px;
    cursor: pointer;
    color:#0bf923
  }
  .card__time {
    position: absolute;
    top: 0;
    right: 9em;
    padding: 0.25em;
    line-height: 1;
   
   
   font-size: 25px;
  
  }
  .card__time button{
    border: none;
    background: none;
    cursor: pointer;
    animation-name: moverTime;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }

.card__time button:hover{
    transform: translate(1);
    
  }
  @keyframes moverTime{
    0%{
         transform: scale(1);
    }
    100%{
      transform: scale(1.5);
    }
}

#pending{
    border: 1px solid rgb(225, 0, 255);
    background-color: rgb(225, 0, 255);
   
}

#delivering{
    border: 1px solid rgb(0, 255, 221);
    background-color: rgb(0, 255, 221);
   
}

#delivered{
    border: 1px solid rgb(255, 123, 0);
    background-color: rgb(255, 123, 0);
    display: flex;
}

li {
    display: inline;
  }

  /*style='color:#0bf923'
  style='color:#d8061a'
  */