<app-navbar></app-navbar>
<nav class="menu-order">
  <ul>
    <li><button type="button" class="btn btn-outline-warning" (click)="orderPending()">pending</button></li>
    <li><button type="button" class="btn btn-outline-info" (click)="orderDelivering()">delivering</button></li>
    <li><button type="button" class="btn btn-outline-success" (click)="orderDelivered()">delivered</button></li>
    <li><button type="button" class="btn btn-outline-danger" (click)="orderCanceled()">canceled</button></li>
  </ul>
</nav>
<pagination-controls   (pageChange)="pageChangeEvent($event)"></pagination-controls>
<section class="todo">
  <div class="cards " *ngFor="let order of orders  | paginate: { itemsPerPage: 6, currentPage: p, totalItems: total}">
    <figure class="card card--{{order.status}}">
            
      <figcaption class="card__caption">
          <h1 class="card__name">Pedido # {{order.id}}</h1>

          <div class="card__time" *ngIf="order.status == 'delivered'">
            <button type="button" (click)= "tiempoOrders(order.dateEntry, order.dateProcessed)"><i class='bx bx-time'></i></button>
          </div>
          <h3 class="card__type card__type_{{order.status}}">
            {{order.status}}
          </h3>

          <table class="card__stats">
              <tbody>
                <tr *ngFor="let item of order.products">
                  <th>{{item.product}}</th>
                  <td>{{item.qty}}</td>
                  
                </tr>
                
              </tbody>
          </table>

          <div class="card__abilities">
              <h4 class="card__ability">
                  <span class="card__label">Ability</span>
                  Run Away
              </h4>
              <h4 class="card__ability">
                  <span class="card__label">Hidden Ability</span>
                  Anticipation
              </h4>
          </div>
      </figcaption>
  </figure>
  </div>
</section>

<!--<div class="todo">
  <div >

    <div class="card" style="width: 18rem;" >

      <div class="card-header" id="{{order.status}}">
        <p>Pedido # {{order.id}}</p> <button type="button" *ngIf="order.status == 'delivered'" (click)= "tiempoOrders(order.dateEntry, order.dateProcessed)"><i class='bx bx-time'></i></button>
        <button type="button" class="btn btn-danger" *ngIf="role=='mesero'" (click)="deleteOrder(order.id)">Eliminar</button>
      </div>
      <table class="card-table table" >
        <thead>
          <tr>
            <th scope="col">Products</th>
            <th scope="col">Amount</th>
           
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of order.products">
            <td>{{item.product}}</td>
            <td>{{item.qty}}</td>
            
          </tr>

          <tr>
            <button type="button" class="btn btn-warning" *ngIf="role=='cocinero'" (click)="cambiarStatus(order.id, 'delivering')">Finish</button>
            <button type="button" class="btn btn-warning" *ngIf="role=='mesero'" (click)="cambiarStatus(order.id, 'delivered')">Entregado</button>

          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>-->


