<app-navbar></app-navbar>
<div class="card" style="width: 18rem;">
    <div class="card-header">
      Pedido #
    </div>
    <table class="card-table table">
      <thead>
        <tr>
          <th scope="col">Products</th>
          <th scope="col">Amount</th>
          <th scope="col">Price</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Agua</td>
          <td>2</td>
          <td>$10</td>
        </tr>

        <tr>
          <th colspan="2">Total</th>
          <td>$10</td>
        </tr>
        <tr>
            <button type="button" class="btn btn-warning">Finish</button>

        </tr>
      </tbody>
    </table>
  </div>
