<div class="productsView">
  <div class="menu">
    <app-menu (newItemEvent)="addItem($event)"></app-menu>
  </div>

  <div class="tableCuenta">
    <table class="table table-bordered">
      <tbody>
        <tr>
          <td colspan="3">MESA 14</td>
        </tr>
        <tr>
          <td>product name</td>
          <td>amount</td>
          <td>price</td>
        </tr>
        <tr *ngFor="let product of productsPedido">
          <td>{{product.name}}</td>
          <td>

            <span class='number2-wrapper'>
              <input #someInput type="number" min="1" value="1" />
            </span>
            <button (click)='getInputValue(someInput.value)' id="botonCantidad">OK</button>

          </td>
          <td>{{totalPrice(product.price)}}</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td colspan="2">TOTAL</td>
          <td>final price</td>
        </tr>
        <tr>
          <td colspan="3"><button>ENVIAR</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>