<app-menu (newItemEvent)="addItem($event)"></app-menu>
<div class="tableCuenta">
    <table class="table table-bordered">
        <tbody>
            <tr>
                <td colspan="3">MESA 14</td>
            </tr>
            <tr>
                <td>product name</td>
                <td>amount</td>
                <td>price</td>
            </tr>
            <tr *ngFor="let product of productsPedido">
                <td>{{product.name}}</td>
                <td>
                    <form>
                    <span class='number2-wrapper'>
                        <input #someInput type="number" min="1" value="1" [ngModel]="valor" name="cantidad"/>
                    </span>
                    <button type="submit" (click)="valor1()" id="botonCantidad">OK</button>
                    </form>
                </td>
                <td>${{totalPrice(product.price)}}</td>
            </tr>
            
            <tr>
                <td colspan="2">TOTAL</td>
                <td>final price</td>
            </tr>
            <tr>
                <td colspan="3"><button>ENVIAR</button></td>
            </tr>
        </tbody>
    </table>
</div>