<app-menu (newItemEvent)="addItem($event)"></app-menu>
<div class="tableCuenta">
    <table class="table table-bordered">
        <tbody>
            <tr>
                <td colspan="3">MESA 14</td>
            </tr>
            <tr>
                <td>product name</td>
                <td>amount</td>
                <td>price</td>
            </tr>
            <tr *ngFor="let product of productsPedido">
                <td>{{product.name}}</td>
                <td>
                    <button (click)="valor2(product.id)">-</button>
                    {{product.cant}}
                    <button (click)="valor1(product.id)">+</button>
                </td>
                <td>${{product.price*product.cant}}</td>
            </tr>
            
            <tr>
                <td colspan="2">TOTAL</td>
                <td>final price</td>
            </tr>
            <tr>
                <td colspan="3"><button>ENVIAR</button></td>
            </tr>
        </tbody>
    </table>
</div>