.containerPrincipal{
  display: flex;
  width: 100%;
  height: 100%;
  
  
  flex-wrap: wrap;
}

.title{
  font-weight: bold;
}
.ordenes{
  width: 32%;
  height: 100%;
  overflow: scroll;
  
}
.ordenes::-webkit-scrollbar{
  display: none;
  
} 
  


#cuentaContenedor{
  width: 68%;
  height: 100%;
  overflow: scroll;
  
}

#cuentaContenedor::-webkit-scrollbar{
  display: none;
  
} 
/* #botonCantidad{
    display:none;
}
.number2-wrapper {
    position: relative;
  }
  .number2-wrapper input[type="number"] {  
    padding: 0;
    text-align:center;
    height: auto;
  }
  .number2-wrapper:after,
  .number2-wrapper:before {
    position: absolute;
    right: 5px;
    width: 1.6em;
    height: .9em;
    font-size: 10px;
    pointer-events: none;
    background: #fff;
  }
  .number2-wrapper:after {
    color: blue;
    content: "\25B2";
    margin-top: 1px;
  }
  .number2-wrapper:before {
    color: red;
    content: "\25BC";
    margin-bottom: 5px;
    bottom: -.5em;
  } */
  input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.number-input {
    border: 2px solid #ddd;
    display: inline-flex;
}

.number-input,
.number-input * {
    box-sizing: border-box;
}

.number-input button {
    outline:none;
    -webkit-appearance: none;
    background-color: #eeeeee;
    border: none;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    cursor: pointer;
    margin: 0;
    position: relative;
    padding:0;
}

.number-input button:before,
.number-input button:after {
    display: inline-block;
    position: absolute;
    content: '';
    width: 0.5rem;
    height: 2px;
    background-color: #212121;
    transform: translate(-50%, -50%);
}
.number-input button.plus:after {
    transform: translate(-50%, -50%) rotate(90deg);
}

.number-input input[type=number] {
    font-family: sans-serif;
    max-width: 4.5rem;
    padding: .5rem;
    border:0;
    text-align: center;
    outline:none;
}
.number-input{
    border: solid #c2c4c6;
    border-width:2px;
}

@media only screen and (min-width: 1200px){
  .ordenes{
    width: 40%;
    height: 100%;
    overflow: scroll;
    margin-right: 15px;
    
  }

  
  
  #cuentaContenedor{
    width: 55%;
    height: 100%;
    overflow: scroll;
    
  }

  
}
