.admin{
    flex-wrap: wrap;
    overflow: scroll;
    width: 100%;
    height: 90%; 
  }
  
  .admin::-webkit-scrollbar{
    display: none;
    
  } 
  
  .mnu{
    width: 100%;
    height: 10%;
  }

  li {
    display: inline;
  }