<section class="vh-100" style="background-color: #F7D625;">
    <div class="container-fluid h-custom" >
      <div class="row d-flex justify-content-center align-items-center h-100" >
        <div class="col-md-9 col-lg-5 col-xl-4" style="text-align: center;">
          <img src="https://raw.githubusercontent.com/nicole11robayo/DEV001-burger-queen-api-client/login/src/app/images/logoBurgerAmarillo.png"
            class="img-fluid" alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-7 col-xl-6 offset-xl-1">
          <p style="text-align: center; margin-bottom: 15px; font-weight: 800; font-size:70px; color: #FFFCFC;">BURGER QUEEN</p>
          <a class="btn btn-success btn-lg btn-block"  routerLink="/auth" routerLinkActive="activebutton">Login</a>
          <a class="btn btn-success btn-lg btn-block" routerLink="" routerLinkActive="activebutton">Admin</a>
        </div>
        </div>
      </div>
  </section>

